body, html { margin: 0; padding: 0; }

body {
  font-family: sans-serif;
  color: black;
  background: #222;
  position: relative;
  z-index: 1;
}
a { color: #6699CC; }
a:hover { color: #77AADD; }

#container {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
}

.howdy {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  height: 100px;
  background: url("../images/banjo.png") no-repeat;
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes intro {
  from {
    opacity:0;
    -webkit-transform: translateY(20px);
  }
  to {
    opacity:1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes intro {
  from {
    opacity:0;
    -moz-transform: translateY(20px);
  }
  to {
    opacity:1;
    -moz-transform: translateY(0);
  }
}
@keyframes intro {
  from {
    opacity:0;
    transform: translateY(20px);
  }
  to { 
    opacity:1;
    transform: translateY(0);
  }
}
 
.intro {
    opacity:0;
    -webkit-animation:intro ease-out 1;
    -moz-animation:intro ease-out 1;
    animation:intro ease-out 1;
 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}