body, html { margin: 0; padding: 0; }

body {
  font-family: sans-serif;
  color: black;
  background: #222;
  position: relative;
  z-index: 1;
}
a { color: #6699CC; }
a:hover { color: #77AADD; }

#container {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
}

.howdy {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  height: 100px;
  background: url("../images/banjo.png") no-repeat;
}