body, html { margin: 0; padding: 0; }

body {
  font-family: sans-serif;
  color: black;
  background: #222;
  position: relative;
  z-index: 1;
}
a { color: #6699CC; }
a:hover { color: #77AADD; }

#container {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
}

.howdy {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  height: 100px;
  background: url("../images/jack.png") no-repeat;
}



@-webkit-keyframes fadeIn {
  from { opacity:0; }
  to   { opacity:1; }
}
@-moz-keyframes fadeIn {
  from { opacity:0; }
  to   { opacity:1; }
}
@keyframes fadeIn {
  from { opacity:0; }
  to   { opacity:1; }
}

@-webkit-keyframes bloop {
  0%   { -webkit-transform: scale(0.1); }
  50%  { -webkit-transform: scale(1.0); }
  70%  { -webkit-transform: scale(0.9); }
  100% { -webkit-transform: scale(1.0); }
}
@-moz-keyframes bloop {
  0%   { -webkit-transform: scale(0.1); }
  50%  { -webkit-transform: scale(1.0); }
  70%  { -webkit-transform: scale(0.9); }
  100% { -webkit-transform: scale(1.0); }
}
@keyframes bloop {
  0%   { -webkit-transform: scale(0.1); }
  50%  { -webkit-transform: scale(1.0); }
  70%  { -webkit-transform: scale(0.9); }
  100% { -webkit-transform: scale(1.0); }
}

.intro {
  opacity:0;
  -webkit-animation: fadeIn ease-out 1, bloop ease-in 1;
  -moz-animation:    fadeIn ease-out 1, bloop ease-in 1;
  animation:         fadeIn ease-out 1, bloop ease-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode:    forwards;
  animation-fill-mode          forwards;

  -webkit-animation-duration: .75s;
  -moz-animation-duration:    .75s;
  animation-duration:         .75s;
}